This notebook shows you how to use Pandas from Python to explore epidemic data. We will use the daily spreadsheet from EU CDC containing new cases and deaths per country per day.

Author: Damiaan Zwietering


__I'm not an epidemiologist or a virologist and just exploring data, so I will not draw conclusions on that level nor base behavior or policy upon these explorations and _neither should you_. Even within a country the data is heavily biased, not in the least because of testing and measurement policies changing over time!__

Get Pandas and NumPy for feature engineering and calculations

In [ ]:
#!pip install pandas numpy

In [8]:
import pandas as pd
import numpy  as np

We read our dataframe `df` directly from the previous etl step

In [9]:
df = pd.read_csv('cases.csv')
df.head(10)

,Unnamed: 0,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,0,2020-04-28,28,4,2020,172,0,Afghanistan,AF,AFG,37172386.0,Asia
1,1,2020-04-27,27,4,2020,68,10,Afghanistan,AF,AFG,37172386.0,Asia
2,2,2020-04-26,26,4,2020,112,4,Afghanistan,AF,AFG,37172386.0,Asia
3,3,2020-04-25,25,4,2020,70,1,Afghanistan,AF,AFG,37172386.0,Asia
4,4,2020-04-24,24,4,2020,105,2,Afghanistan,AF,AFG,37172386.0,Asia
5,5,2020-04-23,23,4,2020,84,4,Afghanistan,AF,AFG,37172386.0,Asia
6,6,2020-04-22,22,4,2020,61,1,Afghanistan,AF,AFG,37172386.0,Asia
7,7,2020-04-21,21,4,2020,35,2,Afghanistan,AF,AFG,37172386.0,Asia
8,8,2020-04-20,20,4,2020,88,3,Afghanistan,AF,AFG,37172386.0,Asia
9,9,2020-04-19,19,4,2020,63,0,Afghanistan,AF,AFG,37172386.0,Asia

Use a `count` on columns to see how many missing values we have. We would like to analyze countries by `geoId`.

In [10]:
df.count()

Unnamed: 0                 13623
dateRep                    13623
day                        13623
month                      13623
year                       13623
cases                      13623
deaths                     13623
countriesAndTerritories    13623
geoId                      13578
countryterritoryCode       13471
popData2018                13497
continentExp               13623
dtype: int64

Because we seem to miss some `geoId` entries, we will drop those lines using `dropna`. The resulting dataframe is pivoted so we get one row per date in `dateRep`, columns by `geoId` and the number of new `cases` and `deaths` for that date and country in the cells. Again, show the first 10 rows from our new dataframe `df_geo` to check the result of our `pivot`.

In [11]:
df_geo = df.dropna(subset=['geoId']).pivot(index='dateRep', columns='geoId', values=['cases', 'deaths'])
df_geo.head(10)

           cases                                          ... deaths          \
geoId         AD   AE   AF  AG  AI  AL   AM  AO  AR   AT  ...     VC  VE  VG
dateRep                                                   ...
2019-12-31   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN
2020-01-01   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN
2020-01-02   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN
2020-01-03   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN
2020-01-04   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN
2020-01-05   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN
2020-01-06   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN
2020-01-07   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN
2020-01-08   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN
2020-01-09   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN


geoId       VI   VN  XK  YE  ZA  ZM  ZW
dateRep
2019-12-31 NaN  0.0 NaN NaN NaN NaN NaN
2020-01-01 NaN  0.0 NaN NaN NaN NaN NaN
2020-01-02 NaN  0.0 NaN NaN NaN NaN NaN
2020-01-03 NaN  0.0 NaN NaN NaN NaN NaN
2020-01-04 NaN  0.0 NaN NaN NaN NaN NaN
2020-01-05 NaN  0.0 NaN NaN NaN NaN NaN
2020-01-06 NaN  0.0 NaN NaN NaN NaN NaN
2020-01-07 NaN  0.0 NaN NaN NaN NaN NaN
2020-01-08 NaN  0.0 NaN NaN NaN NaN NaN
2020-01-09 NaN  0.0 NaN NaN NaN NaN NaN

[10 rows x 412 columns]

Looking good, lots of missing values, meaning there's no data for that country on the current date. We can describe the columns to get an idea of what's there.

In [12]:
df_geo.describe()

           cases                                                           \
geoId         AD          AE          AF         AG         AI         AL
count  46.000000  114.000000  110.000000  40.000000  33.000000  51.000000
mean   16.152174   95.078947   15.481818   0.600000   0.090909  14.431373
std    12.578584  175.815377   29.620763   1.354953   0.384353   8.518814
min     0.000000    0.000000    0.000000   0.000000   0.000000   0.000000
25%     6.250000    0.000000    0.000000   0.000000   0.000000   8.500000
50%    14.000000    0.000000    0.000000   0.000000   0.000000  13.000000
75%    24.750000   52.250000   22.750000   0.000000   0.000000  21.000000
max    43.000000  536.000000  172.000000   6.000000   2.000000  34.000000

                                                       ... deaths             \
geoId          AM         AO          AR           AT  ...     VC         VE
count  111.000000  38.000000   53.000000   120.000000  ...   36.0  45.000000
mean    16.819820   0.710526   75.283019   127.133333  ...    0.0   0.222222
std     24.831138   1.206019   70.976534   222.934966  ...    0.0   0.559581
min      0.000000   0.000000    0.000000     0.000000  ...    0.0   0.000000
25%      0.000000   0.000000   11.000000     0.000000  ...    0.0   0.000000
50%      0.000000   0.000000   74.000000     2.500000  ...    0.0   0.000000
75%     32.000000   1.000000  112.000000   152.000000  ...    0.0   0.000000
max     92.000000   5.000000  344.000000  1141.000000  ...    0.0   2.000000

                                                                           \
geoId         VG         VI     VN         XK    YE         ZA         ZM
count  33.000000  35.000000  116.0  44.000000  19.0  52.000000  41.000000
mean    0.030303   0.114286    0.0   0.500000   0.0   1.730769   0.073171
std     0.174078   0.322803    0.0   0.849076   0.0   2.904462   0.263652
min     0.000000   0.000000    0.0   0.000000   0.0   0.000000   0.000000
25%     0.000000   0.000000    0.0   0.000000   0.0   0.000000   0.000000
50%     0.000000   0.000000    0.0   0.000000   0.0   0.000000   0.000000
75%     0.000000   0.000000    0.0   1.000000   0.0   2.000000   0.000000
max     1.000000   1.000000    0.0   3.000000   0.0  14.000000   1.000000


geoId         ZW
count  39.000000
mean    0.102564
std     0.307355
min     0.000000
25%     0.000000
50%     0.000000
75%     0.000000
max     1.000000

[8 rows x 412 columns]

Export the pivot table for downstream analytics

In [16]:
import pickle
pickle.dump(df_geo, open("cases_pivot.pickle", "wb" ))